## Assignment 1 - Introduction to Python

In this assignemnt you will experiment with arrays in Python, in addition to working with Python libraries. The first section of the assignment

In [1]:
#### Do NOT Modify This Cell !
### Import the numpy library's random module as rand
import numpy.random as rand
rand.seed(0)

In [2]:
### TODO use the randint function in the random module to generate 100 numbers between 0 and 1000 (15 point)
#### Hint: Run help(rand.randint) if you need to know how to use this function
#### Hint2: Make sure to assign the function output to a variable, such as x

mylist = []
for y in range(0, 100):
  x = rand.randint(0, 1000)
  mylist.append(x)

### TODO2: Print the random numbers (5 points)
print(mylist)
print(len(mylist))

[684, 559, 629, 192, 835, 763, 707, 359, 9, 723, 277, 754, 804, 599, 70, 472, 600, 396, 314, 705, 486, 551, 87, 174, 600, 849, 677, 537, 845, 72, 777, 916, 115, 976, 755, 709, 847, 431, 448, 850, 99, 984, 177, 755, 797, 659, 147, 910, 423, 288, 961, 265, 697, 639, 544, 543, 714, 244, 151, 675, 510, 459, 882, 183, 28, 802, 128, 128, 932, 53, 901, 550, 488, 756, 273, 335, 388, 617, 42, 442, 543, 888, 257, 321, 999, 937, 57, 291, 870, 119, 779, 430, 82, 91, 896, 398, 611, 565, 908, 633]
100

In [3]:
### TODO Report All Unique Numbers (20 points)
#### Import and Use Numpy's unique function
import numpy as np
np.unique(mylist)

array([  9,  28,  42,  53,  57,  70,  72,  82,  87,  91,  99, 115, 119,
       128, 147, 151, 174, 177, 183, 192, 244, 257, 265, 273, 277, 288,
       291, 314, 321, 335, 359, 388, 396, 398, 423, 430, 431, 442, 448,
       459, 472, 486, 488, 510, 537, 543, 544, 550, 551, 559, 565, 599,
       600, 611, 617, 629, 633, 639, 659, 675, 677, 684, 697, 705, 707,
       709, 714, 723, 754, 755, 756, 763, 777, 779, 797, 802, 804, 835,
       845, 847, 849, 850, 870, 882, 888, 896, 901, 908, 910, 916, 932,
       937, 961, 976, 984, 999])

In [4]:
### TODO Create function called lessThan500 that returns the number of entries less than 500 (20 points)
### Below is the function definition

def lessThan500(input):
  entries = [z for z in mylist if z < 500]
  return len(entries)

### TODO2 Print Results (5 points)
lessThan500(mylist)

44

In [5]:
### TODO Implement Bubble Sort Algorithm that Sorts your Array in Ascending Order (30 points)
### Hint: https://realpython.com/sorting-algorithms-python/#the-bubble-sort-algorithm-in-python
### Link is for reference only. Code copied over will receive zero credit
def bubbleSort(input):
  num = len(input)
  finished = False
  while(finished == False):
    finished = True
    for x in range(num - 1):
      if input[x] > input[x + 1]:
        input[x], input[x + 1] = input[x + 1], input[x]
        finished = False
  return input

### TODO2 Print Results (5 points)
print(mylist)
print(len(mylist))
print(bubbleSort(mylist))

[684, 559, 629, 192, 835, 763, 707, 359, 9, 723, 277, 754, 804, 599, 70, 472, 600, 396, 314, 705, 486, 551, 87, 174, 600, 849, 677, 537, 845, 72, 777, 916, 115, 976, 755, 709, 847, 431, 448, 850, 99, 984, 177, 755, 797, 659, 147, 910, 423, 288, 961, 265, 697, 639, 544, 543, 714, 244, 151, 675, 510, 459, 882, 183, 28, 802, 128, 128, 932, 53, 901, 550, 488, 756, 273, 335, 388, 617, 42, 442, 543, 888, 257, 321, 999, 937, 57, 291, 870, 119, 779, 430, 82, 91, 896, 398, 611, 565, 908, 633]
100
[9, 28, 42, 53, 57, 70, 72, 82, 87, 91, 99, 115, 119, 128, 128, 147, 151, 174, 177, 183, 192, 244, 257, 265, 273, 277, 288, 291, 314, 321, 335, 359, 388, 396, 398, 423, 430, 431, 442, 448, 459, 472, 486, 488, 510, 537, 543, 543, 544, 550, 551, 559, 565, 599, 600, 600, 611, 617, 629, 633, 639, 659, 675, 677, 684, 697, 705, 707, 709, 714, 723, 754, 755, 755, 756, 763, 777, 779, 797, 802, 804, 835, 845, 847, 849, 850, 870, 882, 888, 896, 901, 908, 910, 916, 932, 937, 961, 976, 984, 999]